$gallary-gap: 1px
$old-phone-columns-num: 1
$old-phone-width: 30em
$phone-width: 60em
$tablet-width: 80em
$page-min-width: 20em
$phone-columns-num: 2
$section-padding: 0.1rem
$tablet-columns-num: 4
$gallary-columns-num-max: 5
$slider-arrow-width: 50px
$slider-arrow-height: 100px
$slider-cross_size: 30px

:root
    font-size: 16px
    font-family: sans-serif
    box-sizing: border-box

*,
::after,
::before
    margin: 0
    padding: 0
    box-sizing: inherit

body
    background-color: #000
    min-width: $page-min-width

article
    display: block
    padding-left: 0.2em
    padding-right: 0.2em

footer
    width: 100%

section
    display: block
    font-size: 1rem
    color: #fff
    overflow: hidden
    padding: $section-padding

h1
    font-size: 5rem

h2
    font-size: 2.5rem
    padding: 40px 0 0

h3
    font-size: 1.6rem
    margin: 1em 0 0.5em
    padding: 0.2em

h4
    font-size: 1.2rem

p
    margin: 0.5em 0

ul
    list-style-type: none

.block
    display: block

.face
    display: flex
    color: white
    flex-flow: column
    justify-content: center
    align-items: center
    background-color: aquamarine
    background-image: url(../images/title.jpg)
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    height: 100vh
    overflow: hidden

.face h1,
.face h2
    font-weight: lighter

.face h1
    letter-spacing: 0.2em

.face h2
    letter-spacing: 0.8em

.gallary
    display: grid
    grid-template-columns: repeat($gallary-columns-num-max, minmax(200px, 1fr))
    grid-auto-rows: calc(100vw / $gallary-columns-num-max)
    grid-gap: $gallary-gap

.gallary__photo
    min-width: 100px
    min-height: 100px
    background-color: green
    overflow: hidden
    img
        object-fit: cover
        width: 100%
        height: 100%

.gallary__photo_2x2
    grid-column: span 2
    grid-row: span 2

.gallary__photo_3x2
    grid-column: span 3
    grid-row: span 2

.gallary__photo_2x3
    grid-column: span 2
    grid-row: span 3

.slider
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%

.slider__background
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, 0.5)

.slider__screen
    position: absolute
    top: 50%
    left: 50%
    width: auto
    max-width: calc(100% - 2 * (2em + $slider-arrow-width))
    height: auto
    max-height: 98vh
    transform: translate(-50%, -50%)
    object-fit: cover

.slider__button
    position: absolute
    background-color: rgba(0, 0, 0, 0)
    filter: invert(80%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%)
    cursor: pointer
    border-radius: 10px

.slider__button:hover
    background-color: rgba(0, 0, 0, 0.1)

.slider__button_arrow
    top: 50%
    transform: translateY(-50%)
    img
        height: $slider-arrow-height
        width: $slider-arrow-width
        margin: 60px 30px


.slider__button_arrow-left
    left: 1em

.slider__button_arrow-right
    right: 1em
    img
        transform: scaleX(-100%)

.slider__button_close
    top: 2em
    right: 2em
    img
        width: $slider-cross_size
        height: $slider-cross_size

nav
    width: 100%

nav.main
    position: fixed
    top: 0
    color: #fff
    width: 100%
    min-width: $page-min-width

nav ul
    list-style: none
    background: rgba(0,0,0,0)
    overflow: hidden
    text-align: center
    transition: 1s

nav li
    display: inline-block
    padding: 20px 50px
    font-size: 1.2em

nav a
    text-decoration: none
    color: inherit
    text-transform: uppercase
    letter-spacing: 0.3em

.background-black
    color: #fff
    background: rgba(0,0,0,0.8)

.background-white
    color: #111
    background-color: white

.hidden
    display: none

.hide-on-tablet
    display: initial

.hide-on-phone
    display: initial

@media screen and (max-width: $tablet-width)
    h1
        font-size: 4rem

    h2
        font-size: 2rem

    .gallary
        grid-template-columns: repeat($tablet-columns-num, 1fr)
        grid-auto-rows: calc(100vw / $tablet-columns-num)

    .hide-on-tablet
        display: none

@media screen and (max-width: $phone-width)
    h1
        font-size: 2rem

    h2
        font-size: 1rem

    nav li
        padding: 15px 30px
        font-size: 0.8em

    .gallary
        grid-template-columns: repeat($phone-columns-num, 1fr)
        grid-auto-rows: calc(100vw / $phone-columns-num)

    .gallary__photo_2x2
        grid-row: span 1
        grid-column: span 1

    .gallary__photo_2x3
        grid-row: span 1
        grid-column: span 1

    .gallary__photo_3x2
        grid-row: span 1
        grid-column: span 1

    .hide-on-tablet
        display: initial

    .hide-on-phone
        display: none

    .slider__screen
        position: initial
        width: 100%
        max-width: 100%
        height: 100%
        max-height: 100%
        object-fit: contain
        transform: initial

    .slider__button_arrow
        top: 50%
        transform: translateY(-50%)
        img
            height: calc($slider-arrow-height / 2)
            width: calc($slider-arrow-width / 2)
            margin: 20px 10px

    .slider__button_close
        top: 1.5em
        right: 1.5em
        img
            width: calc($slider-cross_size / 1.2)
            height: calc($slider-cross_size / 1.2)

    
@media screen and (max-width: $old-phone-width)
    h1
        font-size: 1.6rem

    h2
        font-size: 0.8rem

    nav li
        padding: 10px 15px
        font-size: 0.6em

    .gallary
        grid-template-columns: $old-phone-columns-num * 1fr
        grid-auto-rows: calc(100vw / $old-phone-columns-num)

    .hide-on-tablet
        display: initial

    .hide-on-phone
        display: initial
